body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  color: #333;
}

header {
  color: white;
  padding: 20px;
  text-align: center;
  background-image: url("./images/header-image.jpg");
  background-size: cover;
  background-position: center;
  font-size: 25px;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0px;
  padding: 0px;
  background-color: #f9f9f9;
  border: 0px solid #ccc;
}

/* Grid Items */
.about-content {
  grid-column: 1 / -1;
  /* Span all three columns */
  grid-row: 1;
  /* Span the first three rows */
  background-color: lightsteelblue;
  color: black;
  text-align: center;
  border-radius: 0px 0px 8px 8px;
}

.main-content {
  grid-column: 1 / -1;
  grid-row: 2;
  color: black;
  text-align: start;

}

.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-wrapper {
  display: flex;
  width: max-content;
  /* Ensures all images fit side by side */
  animation: scroll 30s linear infinite;
  /* Controls scrolling */
  animation-direction: alternate;
}

.carousel-wrapper>a {
  width: 150px;
  height: auto;
  margin-right: 5px;
}

.carousel-wrapper>a:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.image-description {
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: bisque;
  color: black
}

.bullet-item::before {
  content: "•";
  margin-right: 8px;
  color: black;
  font-size: 20px;
}

.rounded-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.flex-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
}

.flex-box-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  grid-row: 1;
  grid-column: 1 / -1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flex-box-members>img {
  margin: 5px
}



.flex-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}